<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연말연시페이지</title>
    <link rel="stylesheet" href="{% static 'css/Endyearpage.css' %}">

</head>
<body>
    <div id="bigDiv">
        <img id="snowImg" src="{% static "images/snows.png" %}" alt="tree">
        <img id="treeImg" src="{% static "images/trees.png" %}" alt="tree">



    <div id="logo">헬로그리팅(로고추가) </div>
    <div id="categoryDivStyle">
        <div id="categoryDiv">
            <button class="category" value="크리스마스" onclick="newPage1()">크리스마스</button>
            <button class="category" value="연말" onclick="newPage2()">연말</button>
            <button class="category" value="새해" onclick="newPage3()">새해</button>
        </div>
    </div>
    <div id="sendToDivStyle">
        <div id="sendToDiv">
            <button class="sendTo" value="친구" onclick="bringClickValue(this);">친구</button>
            <button class="sendTo" value="웃어른" onclick="bringClickValue(this);">웃어른</button>
            <button class="sendTo" value="은사님" onclick="bringClickValue(this);">은사님</button>
            <button class="sendTo" value="지인" onclick="bringClickValue(this);" >지인</button>
        </div>
    </div>
    <div class="messageBox">
        <div id="contentTile"><span id="who">웃어른</span>에게 보낼 인삿말 추천입니다!</div>
        <div id="searchStyle">
            <div id="search">
            <form  action="" method="get" onsubmit="return false;">
                <input id="searchInput" type="search" name="searchMessage" placeholder="인삿말 검색하기"
                onfocus="this.placeholder=''" onblur="this.placeholder='인삿말 검색하기'">
                <input id="search_btn" type="submit"  value="검색" >
            </form>
            </div>
        </div>
        <div id="numberOfCharacterStyle">
            <div id="numberOfCharacter">
                <buttonn class="numOfChar" value="30자이내">30자 이내 </buttonn>
                <buttonn class="numOfChar" value="50자이내">50자 이내</buttonn>
            </div>
        </div>
        <div id="messageList">
            <label><input type="radio" name="rd" value="rd1" checked>한 해를 마무리하는 마지막 날끝까지 행복한 일만 가득하길 바래요.새해에는 소망하는 일들모두 이루시고 늘 기쁜 일만 넘치길 바래요.</label><br><br>
            <label><input type="radio" name="rd" value="rd2" >연말 힘드시죠? 휴식을 잘 취해야 일도 잘 할 수 있다고 하네요. 일도 열심 송년회도 휴식도 즐겁게 하는 것 잊지 마세요.</label><br><br>
            <label><input type="radio" name="rd" value="rd3">좋은 분들과 함께 했던 올 한해 저에겐 참 행복한 시간이었습니다.행복한 한 해가 될 수 있도록 도와주신 분들께 깊은 감사드리며 남은 한해 마무리 잘하시고 늘 건강하시길 바랍니다.올 한해 수고 많으셨습니다.밝아오는 새해에는 더욱 건강하시고 모든 소망이 이루어지는 한 해가 되시길 기원합니다.새해 복 많이 받으십시오.</label><br><br>
        </div>
        <div id="nextBtnDiv">
        <button id="nextBtn" onclick="newPage6()">작성하기</button>
        </div>
    </div>
</div>
    <script type="text/javascript" src="\static\js\script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</body>
</html>