<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새해페이지</title>
    <link rel="stylesheet" href="{% static 'css/NewYear.css' %}">
</head>
<body>
    <img id="rabbitImg" src="{% static "images/rabbit.png" %}" alt="tree">
    <img id="starImg1" src="{% static "images/star1.png"  %}" alt="tree">
    <img id="starImg2" src="{% static "images/star2.png" %}" alt="tree">
    <img id="textImg" src="{% static "images/text.png" %}" alt="tree">
    <div id="logo">HelloGreeting </div>
    <div id="categoryDivStyle">
        <div id="categoryDiv">
            <button class="category" value="크리스마스" onclick="newPage1()">크리스마스</button>
            <button class="category" value="연말" onclick="newPage2()">연말</button>
            <button class="category" value="새해" onclick="newPage3()">새해</button>
        </div>
    </div>
    <div id="sendToDivStyle">
        <div id="sendToDiv">
            <button class="sendTo" value="친구" onclick="bringClickValue(this);">친구</button>
            <button class="sendTo" value="웃어른" onclick="bringClickValue(this);">웃어른</button>
            <button class="sendTo" value="은사님" onclick="bringClickValue(this);">은사님</button>
            <button class="sendTo" value="지인" onclick="bringClickValue(this);" >지인</button>
        </div>
    </div>
    <div class="messageBox">
        <div id="contentTile"><span id="who">웃어른</span>에게 보낼 인삿말 추천입니다!</div>
        <div id="searchStyle">
            <div id="search">
            <form  action="" method="get" onsubmit="return false;">
                <input id="searchInput" type="search" name="searchMessage" placeholder="인삿말 검색하기"
                onfocus="this.placeholder=''" onblur="this.placeholder='인삿말 검색하기'">
                <input id="search_btn" type="submit"  value="검색" >
            </form>
            </div>
        </div>
        <div id="numberOfCharacterStyle">
            <div id="numberOfCharacter">
                <buttonn class="numOfChar" value="30자이내">30자 이내 </buttonn>
                <buttonn class="numOfChar" value="50자이내">50자 이내</buttonn>
            </div>
        </div>
        <div id="messageList">
         <label><input type="radio" name="rd" value="rd1">새해 복 많이 받으십시오.2023 년에 더 많이 웃으시고, 더 많이 행복하시기 바랍니다.건강 챙기시고, 올 한 해도 건승하시기를 기원합니다.</label><br><br>
            <label><input type="radio" name="rd" value="rd2" checked>
새해 복 많이 받으십시오.새해에는 하는 일마다 잘 되고, 즐거운 일만 가득하기를 바랍니다.
새해 소원성취하시길 바랍니다.</label><br><br>
            <label><input type="radio" name="rd" value="rd3">사랑한다는 말을 얼마나 하고 지내시나요?2023 년 올해는 사랑한다는 말로 시작하시는 것은 어떨까요?사랑이 가득한 2023 년 새해 맞이하시기 바랍니다.</label><br><br>
        </div>
        <div id="nextBtnDiv">
        <button id="nextBtn" onclick="newPage7()">작성하기</button>
        </div>
    </div>
    <script type="text/javascript" src="\static\js\script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</body>
</html>