<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Greeting</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header>
      <div id="hello_greeting_logo">
        {%url 'index' %}
        <h1 class="logo">
          <img src="{% static 'images/logo.png' %}" alt="logo" />
        </h1>
      </div>
    </header>

    <div id="result_yearend_wrap">
      <div id="letter">
        <div id="chrismas_letter_img">
          <img
            class="image"
            src="{% static 'images/yearend_letter_img.png' %}"
            alt="연말 사진"
            id="c_l_img"
          />
        </div>
        <div class="to_text">
          <p class="to_text">To.<span id="to_name"></span></p>
        </div>
        <div class="line"><p></p></div>
        <div class="greeting_content">
          <!-- 앞 커스텀 페이지에서 선택한 인사말을 보여준다. -->
          <p id="greeting_content"></p>
          <input id="greeting_input" type="text" placeholder="입력하세요!" />

          <div class="btns">
            <form>
              <input type="button" value="수정하기" class="edit_btn" />
            </form>
            <form>
              <input type="button" value="보내기" class="send_btn" />
            </form>
          </div>
        </div>
      </div>

      <img
        class="image"
        src="{% static 'images/HEART.png' %}"
        alt="하트"
        id="img_heart4"
      />
      <img
        class="image"
        src="{% static 'images/cap.png' %}"
        alt="모자"
        id="img_cap"
      />

      <img
        class="image"
        src="{% static 'images/heart-2.png' %}"
        alt="하트"
        id="img_heart5"
      />
      <img
        class="image"
        src="{% static 'images/Star.png' %}"
        alt="별"
        id="img_star"
      />
    </div>
  </body>
  <script>
    const formEl = document.querySelector("form");
    const edit_button = formEl.querySelector(".edit_btn");

    var txt = document.querySelector("p #greeting_content");

    edit_button.addEventListener("click", updateBtn);

    function updateBtn() {
      if (edit_button.value === "수정하기") {
        edit_button.value = "수정완료";
        txt.textContent;
      } else {
        edit_button.value = "수정완료";
        txt.textContent;
      }
      // -> 이렇게 하면 수정하기를 누르면 수정완료로 바뀌고, 수정완료를 누르면 수정하기로 바뀌지 않는다.
    }
  </script>
</html>
